In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [5]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64

In [6]:
df.shape

(32561, 15)

In [7]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [9]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [10]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64

## Tasks

## 1. 
#### How many people of each race are represented in this dataset? 
#### This should be a Pandas series with race names as the index labels. (race column)

In [11]:
df['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

### 1 Solved

In [12]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

## 2. 
#### What is the average age of men?

### 2 solved

In [13]:
df[df.sex == 'Male'].age.mean()

39.43354749885268

In [14]:
df[(df['native-country'] == 'Iran') & (df['salary'] == '>50K') & (df['sex'] == 'Female')].age

4145    36
6295    40
Name: age, dtype: int64

#### conditions first in df and then the variable we want to print

## 3. 
#### What is the percentage of people who have a Bachelor's degree?

In [15]:
len(df[df.education == 'Bachelors'])

5355

In [16]:
len(df)

32561

### 3 solved

In [17]:
a = round(len (df[df.education == 'Bachelors']) / len(df) * 100, 1)
a

16.4

## 4. 
#### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [18]:
len(df[df.education == 'Bachelors'])

5355

In [19]:
len(df[df.education == 'Masters'])

1723

In [20]:
len(df[df.education == 'Doctorate'])

413

In [21]:
df['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

In [22]:
df['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [23]:
len(df.loc[(df['education'] == 'Bachelors' ) | (df['education'] == 'Masters' ) | (df['education'] == 'Doctorate' )])

7491

In [24]:
len(df[df['salary'] == '>50K'].astype(str))

7841

In [25]:
len(df[df['salary'] == '<=50K'].astype(str))

24720

In [26]:
df['salary'].value_counts()

<=50K    24720
>50K      7841
Name: salary, dtype: int64

In [27]:
perc_g = len(df[df['salary'] == '>50K'].astype(str)) / len(df) * 100
print(round(perc_g , 1), '%')

24.1 %

### 4 solved

In [28]:
p_s_e_i = len(df[df['salary'] == '>50K'].loc[(df['education'] == 'Bachelors' ) | (df['education'] == 'Masters' ) | (df['education'] == 'Doctorate' )]) / len(df) * 100
print(round(p_s_e_i,1), '%')

10.7 %

In [29]:
len(df[df['salary'] == '>50K'].loc[(df['education'] == 'Bachelors') & (df['race'] == 'Amer-Indian-Eskimo')])

8

#### condition of make more than 50K first (salary == '>50K') and .loc[condition at end]

## 5. 
#### What percentage of people without advanced education make more than 50K?

### 5 solved

In [30]:
p_s_e_ii = len(df[df['salary'] == '>50K'].loc[(df['education'] != 'Bachelors' ) & (df['education'] != 'Masters' ) & (df['education'] != 'Doctorate' )]) / len(df) * 100
print(round(p_s_e_ii,1), '%')

13.4 %

In [31]:
len(  df[df['salary'] == '>50K'].loc[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')]   )

4355

## 6. 
#### What is the minimum number of hours a person works per week?

### 6 solved

In [32]:
df['hours-per-week'].min()

1

#### 20 people that work min() hours per week

In [33]:
len(df[df['hours-per-week'] == df['hours-per-week'].min()])

20

#### no of Men that work 1 hour per week

In [34]:
len(df[df['hours-per-week']==1].loc[df['sex'] == 'Male'])

10

## 7. 
#### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [35]:
df['hours-per-week'].unique()

array([40, 13, 16, 45, 50, 80, 30, 35, 60, 20, 52, 44, 15, 25, 38, 43, 55,
       48, 58, 32, 70,  2, 22, 56, 41, 28, 36, 24, 46, 42, 12, 65,  1, 10,
       34, 75, 98, 33, 54,  8,  6, 64, 19, 18, 72,  5,  9, 47, 37, 21, 26,
       14,  4, 59,  7, 99, 53, 39, 62, 57, 78, 90, 66, 11, 49, 84,  3, 17,
       68, 27, 85, 31, 51, 77, 63, 23, 87, 88, 73, 89, 97, 94, 29, 96, 67,
       82, 86, 91, 81, 76, 92, 61, 74, 95], dtype=int64)

In [36]:
len(df[df['salary'] == '>50K'])

7841

In [37]:
df['hours-per-week'].loc[df['salary'] == '>50K'].value_counts().min()

1

In [38]:
len(df[df['hours-per-week' ] == df['hours-per-week' ].min()])

20

### 7 solved

In [39]:
min_hour_salary = df[df['hours-per-week' ] == df['hours-per-week' ].min()]
min_hour_salary.head()
p_s = len(min_hour_salary.loc[min_hour_salary['salary'] == '>50K'])/len(df) * 100
print(round(p_s,7),'%')

0.0061423 %

#### 2 people work min() hours per week and earn >50K

In [40]:
len(  min_hour_salary.loc[df['salary']=='>50K']  )

2

## 8. 
#### What country has the highest percentage of people that earn >50K and what is that percentage?

In [41]:
df['native-country'].loc[df['salary'] == '>50K'].value_counts()

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Cuba                    25
Italy                   25
Japan                   24
China                   20
Taiwan                  20
Iran                    18
South                   16
Poland                  12
France                  12
Puerto-Rico             12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Vietnam                  5
Ireland                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Guatemala                3
Hungary                  3
Scotland                 3
Columbia                 2
Trinadad&Tobago          2
Peru                     2
Dominican-Republic       2
Nicaragua                2
Laos                     2
Honduras                 1
Name: native-country, dtype: int64

In [42]:
df['native-country'].loc[df['salary'] == '>50K'].value_counts().max()

7171

In [43]:
len(df['native-country'].loc[df['salary'] == '>50K'].max()) / len(df['native-country'].loc[df['salary'] == '>50K']) * 100

0.1275347532202525

### 8 solved

#### native-country

In [44]:
country_salary = df[df['salary'] == '>50K']['native-country'].value_counts().to_dict()
country_salary

{'United-States': 7171,
 '?': 146,
 'Philippines': 61,
 'Germany': 44,
 'India': 40,
 'Canada': 39,
 'Mexico': 33,
 'England': 30,
 'Cuba': 25,
 'Italy': 25,
 'Japan': 24,
 'China': 20,
 'Taiwan': 20,
 'Iran': 18,
 'South': 16,
 'Poland': 12,
 'France': 12,
 'Puerto-Rico': 12,
 'Jamaica': 10,
 'El-Salvador': 9,
 'Greece': 8,
 'Cambodia': 7,
 'Hong': 6,
 'Yugoslavia': 6,
 'Vietnam': 5,
 'Ireland': 5,
 'Portugal': 4,
 'Haiti': 4,
 'Ecuador': 4,
 'Thailand': 3,
 'Guatemala': 3,
 'Hungary': 3,
 'Scotland': 3,
 'Columbia': 2,
 'Trinadad&Tobago': 2,
 'Peru': 2,
 'Dominican-Republic': 2,
 'Nicaragua': 2,
 'Laos': 2,
 'Honduras': 1}

##### sorting dictionary based on largest no. of salary

In [45]:
country_salary = sorted(country_salary.items(), key=lambda x: x[1], reverse = True)
country_salary

[('United-States', 7171),
 ('?', 146),
 ('Philippines', 61),
 ('Germany', 44),
 ('India', 40),
 ('Canada', 39),
 ('Mexico', 33),
 ('England', 30),
 ('Cuba', 25),
 ('Italy', 25),
 ('Japan', 24),
 ('China', 20),
 ('Taiwan', 20),
 ('Iran', 18),
 ('South', 16),
 ('Poland', 12),
 ('France', 12),
 ('Puerto-Rico', 12),
 ('Jamaica', 10),
 ('El-Salvador', 9),
 ('Greece', 8),
 ('Cambodia', 7),
 ('Hong', 6),
 ('Yugoslavia', 6),
 ('Vietnam', 5),
 ('Ireland', 5),
 ('Portugal', 4),
 ('Haiti', 4),
 ('Ecuador', 4),
 ('Thailand', 3),
 ('Guatemala', 3),
 ('Hungary', 3),
 ('Scotland', 3),
 ('Columbia', 2),
 ('Trinadad&Tobago', 2),
 ('Peru', 2),
 ('Dominican-Republic', 2),
 ('Nicaragua', 2),
 ('Laos', 2),
 ('Honduras', 1)]

In [46]:
country = country_salary[0][0]
sal_percent = f"{round(int(country_salary[0][1])/len(df) * 100,1)} %"

print(country)
print(sal_percent)

United-States
22.0 %

## 9. 
#### Identify the most popular occupation for those who earn >50K in India.

In [47]:
df.occupation.value_counts()

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64

In [49]:
df[df['salary'] == '>50K']['occupation'].value_counts()

Exec-managerial      1968
Prof-specialty       1859
Sales                 983
Craft-repair          929
Adm-clerical          507
Transport-moving      320
Tech-support          283
Machine-op-inspct     250
Protective-serv       211
?                     191
Other-service         137
Farming-fishing       115
Handlers-cleaners      86
Armed-Forces            1
Priv-house-serv         1
Name: occupation, dtype: int64

In [50]:
df['occupation'].loc[df['salary'] == '>50K'].loc[df['native-country'] == 'India'].value_counts()

Prof-specialty      25
Exec-managerial      8
Tech-support         2
Other-service        2
Sales                1
Adm-clerical         1
Transport-moving     1
Name: occupation, dtype: int64

In [ ]:
df['occupation'].loc[df['salary'] == '>50K'].loc[df['native-country'] == 'India'].value_counts().max()

### 9 solved

In [ ]:
occupation_salary = df[df['salary']== '>50K'].loc[df['native-country'] == 'India']['occupation'].value_counts().to_dict()

#sorting dictionary based on largest no. of salary
occupation_salary = sorted(occupation_salary.items(), key=lambda x: x[1], reverse=True)

occupation = occupation_salary[0][0]

print(occupation)

## Actual code that i did on replit

In [ ]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('adult.data.csv')
    
    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts()
    

    # What is the average age of men?
    average_age_men = df[df.sex == 'Male'].age.mean()
    

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = round(len (df[df.education == 'Bachelors']) / len(df) * 100, 1)
    
    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

    # What percentage of people without advanced education make more than 50K?
  
    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = (df['education'] == 'Bachelors' ) | (df['education'] == 'Masters' ) | (df['education'] == 'Doctorate' )
    
    lower_education = (df['education'] != 'Bachelors' ) & (df['education'] != 'Masters' ) & (df['education'] != 'Doctorate' )

    # percentage with salary >50K
    higher_education_rich = round(len(df[df['salary'] == '>50K'].loc[higher_education]) / len(df) * 100, 1)

    lower_education_rich = round(len(df[df['salary'] == '>50K'].loc[lower_education]) / len(df) * 100, 1)

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    min_hour_salary = df[df['hours-per-week' ] == df['hours-per-week' ].min()]

    num_min_workers = len(min_hour_salary.loc[min_hour_salary['salary'] == '>50K'])/len(df) * 100
    rich_percentage = round(num_min_workers, 1)

    # What country has the highest percentage of people that earn >50K?
    # native-country

    country_salary = df[df['salary'] == '>50K']['native-country'].value_counts().to_dict()#sorting dictionary based on largest no. of salary
    country_salary = sorted(country_salary.items(), key=lambda x: x[1], reverse=True)

    highest_earning_country = country_salary[0][0]
    highest_earning_country_percentage = f"{round(int(country_salary[0][1])/len(df) * 100,1)} %"

    # Identify the most popular occupation for those who earn >50K in India.
    occupation_salary = df[df['salary']== '>50K'].loc[df['native-country'] == 'India']['occupation'].value_counts().to_dict()

    #sorting dictionary based on largest no. of salary
    occupation_salary = sorted(occupation_salary.items(), key=lambda x: x[1], reverse=True)

    
    top_IN_occupation = occupation_salary[0][0]

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }